<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders Status</title>
</head>
<body>
    <table>
        <tr>
            <th>Order Status for <%=@firstname%> </th>
        </tr>
        <tr>
            <td>
                <p>Hi, <%=@firstame%></p>
                <p><img src="" alt=""></p>
                <p>
                    Your order is currently <%=@Status%> <br>
                     <br>
                </p>
            </td>
        </tr>
    </table>
</body>
</html>