<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome User</title>
</head>
<body>
    <table>
        <tr>
            <th>Welcome to Quix Travels, <%=@firstame%> </th>
        </tr>
        <tr>
            <td>
                <p>Hi, <%=@firstname%></p>
                <p><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.64BIHTA00FOcUg_BvKwFMQHaEK%26pid%3DApi&f=1&ipt=0c207532defdfcbbca2f2786a6a524a6de43c994adcb120ff095590ab5a5584d&ipo=images" alt="Asana Brand"></p>
                <p>
                    Thanks for Signing, Up. <br>
                    Find the best products in one place. <br>
                </p>
            </td>
        </tr>
    </table>
</body>
</html>