<section class="login-comp">
  <div class="logo">
    <img src="../../../assets/b7ee8e7b-cd1e-488e-a294-e137cbfb9eaf-removebg-preview (1).png" class="logo-img" alt="">
  </div>
  <div class="content">
     <form class="form">
    <h1>Hello</h1>
    <p>Sign in to Shopie or <a routerLink="/register">create an account</a></p>
    <div class="input-div">
      <input type="email" placeholder="Email">
    </div>
    <div class="input-div">
      <input type="text" placeholder="Password">
    </div>
    <div class="input-div">
      <input type="submit" value="Continue" class="submit-btn">
    </div>
    <div class="action">
      <input type="checkbox" name="" id="">
      <label for="">Stay signed in</label>
    </div>
  </form>
  </div>

</section>
