.customer-section {
  width: 80vw;
}
#customers {
  color: #ffffff;
  width: 80%;
}
#customers th{
  background-color: dodgerblue;
  padding: 10px;
  text-align: left;
}

#customers td {
  background-color: #dbdbdb;
  padding: 10px;
}

#customers td:nth-child(even) {
  background-color: dodgerblue;
}

.actions {
  display: flex;
  gap: 20px;
}

.actions i {
  cursor: pointer;
}