<section class="customer-section">
  <table id="customers">
    <tr>
      <th>No. </th>
      <th>First Name </th>
      <th>Last Name </th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>

    <tr *ngFor="let user of userArr; let i = index">
      <td>{{i + 1}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td *ngIf="user.isAdmin">Admin</td>
      <td *ngIf="!user.isAdmin">User</td>
      <td>
        <div class="actions">
          <i class="fa-solid fa-user-xmark" title="disable"></i>
        </div>
      </td>
    </tr>
  </table>
</section>
