<section class="login-comp">
  <div class="logo">
    <img src="../../../assets/b7ee8e7b-cd1e-488e-a294-e137cbfb9eaf-removebg-preview (1).png" class="logo-img" alt="">
  </div>
  <div *ngIf="errorDiv" class="error-message">{{errorMsg}}</div>
  <div  *ngIf="successDiv"  class="success-message">{{successMsg}}</div>
  <div class="content">
     <form class="form" [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
    <h1>Hello</h1>
    <p>Create an account or <a routerLink="/login">Sign in to Shopie</a></p>
    <div class="usernames">
      <div class="input-div">
        <input type="text" placeholder="First name" class="f-name" formControlName="firstName">
        <div class="fname-error" id="error" *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched && !registerForm.get('firstName')?.dirty">First name is required</div>
      </div>
      <div class="input-div">
        <input type="text" placeholder="Last name" class="l-name" formControlName="lastName">
        <div class="lname-error" id="error" *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched && !registerForm.get('lastName')?.dirty">Last name is required</div>
      </div>
    </div>
  <div class="input-div">
      <input type="email" placeholder="Email" formControlName="email">
      <div class="email-error" id="error" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched && !registerForm.get('email')?.dirty">Email is required</div>
    </div>
    <div class="input-div">
      <input type="text" placeholder="Password" formControlName="password">
      <div class="pass-error" id="error" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched && !registerForm.get('password')?.dirty">Password is required</div>
    </div>
    <div class="input-div">
      <input type="submit" value="Continue" class="submit-btn">
    </div>
    <div class="action">
      <input type="checkbox" name="" id="">
      <label for="">Stay signed in</label>
    </div>
  </form>
  </div>

</section>
