<app-navbar></app-navbar>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
</div>

<div class="product-view">
  

    <div class="product-image">
      <img src="{{product?.image}}" alt="Product Image">
    </div>

    <div class="product-details">
      <h2 class="product-name"><b></b>{{product?.title}}</h2>
      <p class="product-price"><b>$</b>{{product?.price}}</p>
  
  
  
      <p class="product-description"><b>Description:</b> {{product?.description}}</p>
      <p class="category"><b>Category:</b> {{product?.category}}</p>
      <p class="rating"><b>Rating:</b> {{product?.rating}}</p>

      <div>
        <button class="quantity-button" (click)="decrementQuantity()">-</button>
        <span class="quantity">{{ quantity }}</span>
        <button class="quantity-button" (click)="incrementQuantity()">+</button>
      </div>
  
      <div class="action-buttons">
        <button class="add-to-cart-button" (click)="addToCart(product)">Add to Cart</button>
      </div>
      
    </div>
</div>

  <hr>

  <div class="similar-products" *ngIf="products.length > 0">
    <div>Similar Products</div>
    <div class="product-grid" *ngFor="let product of products; let i = index">
      <div class="product-card" (click)="navigateToSingleProduct(product.id.toString())">
        <div><img src="{{product?.image}}" alt=""></div>
        <div>
          <p><b>{{product?.title}}</b></p>
          <p><b>$</b> {{product?.price}} </p>
          <!-- <p>{{product?.description}}</p> -->
          <p><b>Rating:</b> {{product.rating.rate}} </p>
        </div>
      </div>
    </div>
  </div>
  
  
  