.category-form{
  background-color: #dbdbdb;
  padding: 2%;
  margin: 2%;
  border-radius: 10px;
}

.submit-btn {
  background-color: dodgerblue;
  border: none;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin: 2%;
  cursor: pointer;
}

.submit-btn:hover{
  background-color: rgb(25, 129, 232);
}

.input-div{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 2% 0;
}

input[type='text']{
  width: 100%;
  padding: 10px;
}

#error{
  color: #ED2939;
}
.error-message {
  color: #721c24;
  background-color: #f8d7da;
  padding: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  width: 100%;
}

.success-message {
  width: 100%;
  position: fixed;
  text-align: center;
  color: #155724;
  background-color: #d4edda;
  padding: 10px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
}
