<nav class="navbar">
    <div class="logo" (click)="navigateToHome()">
        <img src="../../../../assets/b7ee8e7b-cd1e-488e-a294-e137cbfb9eaf-removebg-preview.png" alt="Logo" class="logo-img">
    </div>

    <div class="search-bar">
        <input
            type="text"
            placeholder="Search for anything"
            class="search-input"
        />
    </div>

    <div class="category-dropdown">
        <select class="category-select">
            <option>Electronics</option>
            <option>jewelery</option>
            <option>men's clothing</option>
            <option>women's clothing</option>
        </select>
    </div>
<!--
    <li routerLink="/register" *ngIf="!isLoggedIn" class="register">Register</li>
            <li routerLink="/login" *ngIf="!isLoggedIn" class="login" data-cy="login">Login</li> -->

    <button class="search-button">Search</button>

    <div class="user" *ngIf="isLogged">Welcome, {{firstName | titlecase}} {{lastName | titlecase}}</div>

    <div class="cart-icon" (click)="openCart()">
        <img class="cart-icon" src="../../../../assets/cart-icon.png" alt="cart-icon" >
    </div>

    <a *ngIf="isLogged" class="login-link" (click)="logout()" style="cursor: pointer;">Logout</a>
    <a *ngIf="!isLogged" class="login-link" routerLink="/login" style="cursor: pointer;">Login</a>
</nav>
