.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    margin-top: 175px; 
  }
  
  .placeholder {
    font-size: 18px;
    color: #888;
  }
  
  .cart-item {
   
  }

  .empty-cart-placeholder {
    text-align: center;
    padding: 20px;
  }
  
  .checkout-button {
    margin-top: auto; 
    background-color: #2e91d9;
    color: #ffffff; 
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }

  .close-cart-button{
    margin-top: auto; 
    background-color: #2e91d9;
    color: #ffffff; 
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }

  .cart-container {
    transition: height 0.3s ease; 
  }

  .cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
  }
  
  .cart-table th, .cart-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .cart-table th {
    background-color: #f2f2f2;
  }
  
  .product-image {
    max-width: 60px;
    height: auto;
  }
  
  .product-image-cell {
    text-align: center;
  }
  