.new-product {
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  overflow: scroll;
}
.content {
  display: flex;
}

input[type='search']{
  justify-self: center;
  padding: 15px;
  border-radius: 10px;
  margin: 2%;
  width: 90%;
  border: none;
}

.products {
  max-width: 500px;
}

.form{
  background-color: #ffffff;
  padding: 8px;
  border-radius: 5px;
  width: 50%;
  margin: 2%;
  height: max-content;
}

.input-div{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1%;
}

.input-div input, select{
  padding: 10px;
}

.submit-btn{
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-color: #1e90ff;
  cursor: pointer;
}

.submit-btn:hover{
  background-color: rgba(30,144,255, .9);
}

label{
  font-weight: bold;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  background-color: #f2f2f2;
  cursor: pointer;
  max-width: 400px;
  min-width: 300px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 0 3px  #dbdbdd;
  display: flex;
  gap: 20px;
}

.card:hover {
  background-color: #dbdbdd;
}

.product-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.separator{
  width: 90%;
  justify-content: space-between;
  display: flex;
  gap: 10px;
}

.product-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.product-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.delete, .edit {
  border: none;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.delete{
  background-color: salmon;
}
.edit {
  background-color: forestgreen

}

.confirm-div{
  background-color: #ffffff;
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 3;
  top: 40%;
  padding: 10px;
  align-self: center;
  text-align: center;
  box-shadow: 0 0 5px #000;
  border-radius: 5px;
}

.warning-img {
  width: 90px;
}

.confirm-delete, .confirm-cancel {
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-btns{
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 2%;
}

.confirm-cancel{
  background-color: #F4C430;
  color: #ffffff;
}

.confirm-cancel:hover {
  background-color: #E4D00A;
}
.confirm-delete{
  background-color: #ED2939;
}
.confirm-delete:hover{
  background-color: #FF2400;
}
