.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    /* width: 60vw; */
    margin-top: 20px;
}

.advert {
    max-width: 100%; 
    max-height: 100%; 
}

/* //product grid section */

/* landing.component.css */

.category-container{
  /* background-color: #2E91D9; */
}

.product-grid {
  display: grid;
  /* flex-direction: row;
  flex-wrap: wrap; */
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
}

.product-card {
  flex-basis: calc(16.6667% - 20px); 
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.product-card img {
  /* max-width: 100%;  */
  max-width: 200px; 
  max-height: 200px;
  height: auto;
}

.product-card p {
  font-size: 16px;
  margin: 10px 0;
}

.product-card .title {
  font-size: 18px;
  font-weight: bold;
}

.product-card .price {
  font-size: 18px;
  color: #2E91D9; 
}




/* footerstyle */
.footer {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .footer-column {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer h4 {
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer li {
    margin-bottom: 8px;
  }
  
  .footer a {
    color: #000000;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  