<app-navbar></app-navbar>

<div class="carousel">
    <img src="../../../../assets/adidas_Gazelle_(evergreen_assets)SecondaryA.webp" alt="advert" class="advert">
</div>

 <hr>

 <div class="category-container">
  <div class="product-grid" *ngFor="let category of products; let i = index">
    <!-- <h2>{{ category.category }}</h2> -->
    <div *ngFor="let product of category.products; let j = index" class="product-card" (click)="navigateToSingleProduct(product.id.toString())">
      <div><img src="{{product.image}}" alt=""></div>
      <div>
        <p><b>{{product.title}}</b></p>
        <p><b>$</b> {{product.price}}</p>
        <!-- <p>{{product.description}}</p> -->
        <p><b>Category</b> {{product.category}}</p>
        <p><b>Rating</b> {{product.rating.rate}}</p>
      </div>
    </div>
  </div>
</div>

 <hr>

 <div class="carousel">
    <img src="../../../../assets/adidas_Gazelle_(evergreen_assets)SecondaryA.webp" alt="advert" class="advert">
</div>

<hr>

<div>
<footer class="footer">
    <div class="footer-column">
      <ul>
        <li><a href="#">Buy</a></li>
        <li><a href="#">Registration</a></li>
        <li><a href="#">Stores</a></li>
      </ul>
    </div>
  
    <div class="footer-column">
      <ul>
        <li><a href="#">Tools</a></li>
        <li><a href="#">Developers</a></li>
        <li><a href="#">Security</a></li>
      </ul>
    </div>
  
    <div class="footer-column">
      <ul>
        <li><a href="#">Stay Connected</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Discord</a></li>
      </ul>
    </div>
  
    <div class="footer-column">
      <ul>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Community</a></li>
      </ul>
    </div>
  </footer>
  
</div>





