<app-navbar></app-navbar>

<div class="carousel">
    <img src="../../../../assets/online-advertising-ecommerce.jpeg" alt="advert" class="advert">
</div>

<!-- <div class="carousel">
  <div class="image-container">
      <img src="../../../../assets/online-advertising-ecommerce.jpeg" alt="advert" class="advert">
      <img src="path/to/second/image.jpg" alt="advert" class="advert">
      <img src="path/to/third/image.jpg" alt="advert" class="advert">
  </div>
</div> -->

 <hr>

<div class="category-container">
  <!-- <h2>{{ category.category }}</h2> -->
  <div class="product-grid" *ngFor="let category of products; let i = index">
    <!-- <h2>{{ category.category }}</h2> -->
    <div *ngFor="let product of category.products; let j = index" class="product-card" (click)="navigateToSingleProduct(product.productId)">
      <div><img src="{{product.productImage}}" alt=""></div>
      <div>
        <p><b>{{product.productName}}</b></p>
        <p><b>$</b> {{product.productPrice}}</p>
        <p><b>Category</b> {{product.categoryName}}</p>
        <p><b>Description</b> {{product.descr}}</p>
        <!-- <p><b>Quantity</b> {{product.productQuantity}}</p> -->
      </div>
    </div>
  </div>
</div>


 <hr>

 <div class="carousel">
    <img src="../../../../assets/online-advertising-ecommerce.jpeg" alt="advert" class="advert">
</div>

<hr>

<div>
<footer class="footer">
    <div class="footer-column">
      <ul>
        <li><a href="#">Buy</a></li>
        <li><a href="#">Registration</a></li>
        <li><a href="#">Stores</a></li>
      </ul>
    </div>
  
    <div class="footer-column">
      <ul>
        <li><a href="#">Tools</a></li>
        <li><a href="#">Developers</a></li>
        <li><a href="#">Security</a></li>
      </ul>
    </div>
  
    <div class="footer-column">
      <ul>
        <li><a href="#">Stay Connected</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Discord</a></li>
      </ul>
    </div>
  
    <div class="footer-column">
      <ul>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Community</a></li>
      </ul>
    </div>
  </footer>
  
</div>





